@using NotePro.Utilities;

@model NotesListViewModel;

@{
    ViewData["Title"] = "NotesList";
    var sort0Active = Model.SortOption == SortOption.Recent ? "active" : "";
    var sort1Active = Model.SortOption == SortOption.Oldest ? "active" : "";
    var sort2Active = Model.SortOption == SortOption.DueDate ? "active" : "";
    var sort3Active = Model.SortOption == SortOption.Importance ? "active" : "";

    var filter0Active = Model.FilterOption == FilterOption.ExcludeFinished ? "active" : "";
    var filter1Active = Model.FilterOption == FilterOption.NoFilter ? "active" : "";
}

<h2>Note List</h2>

<div class="btn-group" data-toggle="buttons">

    <form id="sortform" asp-action="Index" method="get" >
        <input type="hidden" name="FilterOptionIndex" id="@Model.FilterOption" />
        <label class="btn btn-default @sort0Active">
            <input class="sort" type="radio" name="SortOptionIndex" id="sort0" value="0" autocomplete="off">Recent
        </label>

        <label class="btn btn-default @sort1Active">
            <input class="sort" type="radio" name="SortOptionIndex" id="sort1" value="1" autocomplete="off">Oldest
        </label>

        <label class="btn btn-default @sort2Active">
            <input class="sort" type="radio" name="SortOptionIndex" id="sort2" value="2" autocomplete="off">Due Date
        </label>

        <label class="btn btn-default @sort3Active">
            <input class="sort" type="radio" name="SortOptionIndex" id="sort3" value="3" autocomplete="off">Importance
        </label>
    </form>
</div>

<div class="btn-group" data-toggle="buttons">

    <form id="filterform" asp-action="Index" method="get">
        <input type="hidden" name="SortOptionIndex" id="@Model.SortOption" />
        <label class="btn btn-default @filter0Active">
            <input class="filter" type="radio" name="FilterOptionIndex" id="filter0" value="0" autocomplete="off">Hide Finished
        </label>

        <label class="btn btn-default @filter1Active">
            <input class="filter" type="radio" name="FilterOptionIndex" id="filter1" value="1" autocomplete="off">Show Finished
        </label>

    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().DueDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Notes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <input type="checkbox" class="filled-in" value="@item.Id">     
            </td>
            <td>
                <a class="btn btn-default btn-sm " asp-action="EditNote" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-default btn-sm" asp-action="DeleteNote" asp-route-id="@item.Id" asp-method="delete">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/note-list.js"></script>
}


            

