@model Note

@{       
    ViewData["Title"] = "Manage Note";
    var aspAction = Model == null ? "AddNote" : "UpdateNote";
}

<form class="note-form" asp-action="@aspAction" method="post">  
    
    <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input class="form-control" asp-for="Title" length="60"/>
        <label asp-for="Title" data-toggle="tooltip" data-placement="top" title="Every note needs a title.">@Html.DisplayNameFor(Model => Model.Title):</label>
        <span asp-validation-for="Title" class="text-danger push-left"></span>
       @{if (Model != null)
            {
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreationDate" />
           }
    }
    </div>
        
    <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea id="description-area" class="md-textarea" asp-for="Description" rows="6" length="1000"></textarea>
        <label asp-for="Description" data-toggle="tooltip" data-placement="top" title="Add a short description of your note.">@Html.DisplayNameFor(Model => Model.Description):</label>
        <span asp-validation-for="Description" class="text-danger push-left"></span>
    </div>
        
    <div class="row">
        <div class="col-12 col-md-4">
            
            <div class="md-form">
                <i class="fa fa-clock-o prefix grey-text"></i>
                <input placeholder="Selected date" id="date-picker-example" class="form-control datepicker" asp-for="DueDate"/>
                <label asp-for="DueDate" data-toggle="tooltip" data-placement="top" title="Add a due date for every note.">@Html.DisplayNameFor(Model => Model.DueDate):</label>
                <span asp-validation-for="DueDate" class="text-danger push-left"></span>
            </div>

        </div>

        <div class="col-12 col-md-4">
            
            <div class="clearfix">
            <span class="priority-title float-left" data-toggle="tooltip" data-placement="top" title="Add an importance to your note from 1 to 5 stars.">@Html.DisplayNameFor(Model => Model.Priority):</span>
                <div class="rating float-left">

                    @for (int i = 5; i > 0; i--)
                    {
                        var labelClassPriority = Model != null && Model.Priority == i ? "selected" : "";

                        <label class="@labelClassPriority">
                            <input asp-for="Priority" type="radio" name="Priority" value="@i" title="@i stars"> @i
                        </label>
                    }
                </div>
            </div>
            <span asp-validation-for="Priority" class="text-danger"></span>

        </div>
        
        <div class="col-12 col-md-4 clearfix">
        
            <div class="form-group finished">
                <input type="checkbox" asp-for="Finished" class="filled-in" id="checkbox2">
                <label for="checkbox2" data-toggle="tooltip" data-placement="top" title="Check as soon as task is finished.">@Html.DisplayNameFor(model => model.Finished)</label>
            </div>
        
        </div>

    </div>

    <div class="submit-note text-center">
        <button class="btn grey darken-1" type="submit">Save<i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>
</form>

@section Scripts {
    <script>
        // Date Picker Initialization
        $('.datepicker').pickadate({
            formatSubmit: 'dd/mm/yyyy'
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}