@model IEnumerable<Note>


@{
    ViewData["Title"] = "NotesList";
}

<h2>Note List</h2>
<!-- TODO Checkbox buttons for sorting. Not working yet-->
<div class="btn-group" data-toggle="buttons">

    <label class="btn btn-default active">
        <input class="sort" type="radio" name ="sort" id="sort0" value="0" autocomplete="off">Recent (default)
    </label>

    <label class="btn btn-default">
        <input class="sort" type="radio" name ="sort" id="sort1" value="1" autocomplete="off">Oldest
    </label>


    <label class="btn btn-default">
        <input class="sort" type="radio" name ="sort" id="sort2" value="2" autocomplete="off">Due Date
    </label>

    <label class="btn btn-default">
        <input class="sort" type="radio" name ="sort" id="sort3" value="3" autocomplete="off">Importance
    </label>

</div>
<!-- TODO Checkbox butons for sorting. Not working yet-->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-action="EditNote" asp-route-id="@item.Id">Edit</a> |
                <!--todo handle Delete with proper HTTP Method-->
                <a asp-action="DeleteNote" asp-route-id="@item.Id" asp-method="delete">Delete</a> 
            </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script>
    var SetFilter = function () {
        $.get("home/sort?sortOption=" + $(this).find(".sort").val());
    };

    $(".btn-group").children().on("click", SetFilter);
</script>
}