@model IEnumerable<Note>

@{
    ViewData["Title"] = "NotesList";
}

<h2>Note List</h2>


<!-- TODO Checkbox butons for sorting. Not working yet-->
<div class="btn-group" data-toggle="buttons">

    <label class="btn btn-default active">
        <input type="radio" checked autocomplete="off">Newest (pre-checked)
    </label>

    <label class="btn btn-default">
        <input type="radio" autocomplete="off">Oldest
    </label>


    <label class="btn btn-default">
        <input type="radio" autocomplete="off">Duedate
    </label>

    <label class="btn btn-default">
        <input type="radio" autocomplete="off">Importance
    </label>

</div>
<!-- TODO Checkbox butons for sorting. Not working yet-->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-action="EditNote" asp-route-id="@item.Id">Edit</a> |
                <!--<a asp-action="Details" asp-route-uid=">Details</a> |-->
                <!--todo handle Delete with proper HTTP Method-->
                <a asp-action="DeleteNote" asp-route-id="@item.Id" asp-method="DELETE">Delete</a> 
            </td>
            </tr>
        }
    </tbody>
</table>
