@using NotePro.Utilities;

@model NotesListViewModel;

@{
    ViewData["Title"] = "NotesList";
    var sort0Active = Model.SortOption == SortOption.Recent ? "active" : "";
    var sort1Active = Model.SortOption == SortOption.Oldest ? "active" : "";
    var sort2Active = Model.SortOption == SortOption.DueDate ? "active" : "";
    var sort3Active = Model.SortOption == SortOption.Importance ? "active" : "";
}

<h2>Note List</h2>

<div class="btn-group" data-toggle="buttons">

    <label class="btn btn-default @sort0Active">
        <input class="sort" type="radio" name="sort" id="sort0" value="0" autocomplete="off">Recent
    </label>

    <label class="btn btn-default @sort1Active">
        <input class="sort" type="radio" name="sort" id="sort1" value="1" autocomplete="off">Oldest
    </label>

    <label class="btn btn-default @sort2Active">
        <input class="sort" type="radio" name="sort" id="sort2" value="2" autocomplete="off">Due Date
    </label>

    <label class="btn btn-default @sort3Active">
        <input class="sort" type="radio" name="sort" id="sort3" value="3" autocomplete="off">Importance
    </label>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes.FirstOrDefault<Note>().DueDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Notes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-action="EditNote" asp-route-id="@item.Id">Edit</a> |
                <!--todo handle Delete with proper HTTP Method-->
                <a asp-action="DeleteNote" asp-route-id="@item.Id" asp-method="delete">Delete</a> 
            </td>
        </tr>
    }
    </tbody>
</table>

<nav id="pagination-nav" class="mt-4 mb-4 d-flex justify-content-center"">
    <ul class="pagination pg-blue">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
            

@section Scripts {
<script src="~/js/note-list.js"></script>
}